.databox{
    position: absolute;
    width: 70%;
    height: 800px;
    left: 15%;
    right: 15%;
    float: left;
    background: #000000;
    opacity: .8;
    color: #FF9900;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    color : #FFFFFF;
  }

  .example-container > * {
      margin-top: 3%;
      margin-left: 20%;
      margin-right: 20%;
    /* width: 100%; */
  }
  .title-name{
      text-align : center;
      color: #FF3399;
      font-size: 30px;
  }

  .example-date{
    color: #FFFFFF;
    font-size: 15px;
    margin-right: 5%;
    width: 40%;
  }

  .example-date1{
      color: #FFFFFF;
      font-size: 15px;
      margin-right: 5%;
      width: 40%;
  }

  button{
      background : #FF3399;
      color : #FFFFFF;
      font-size: 15px;
  }

