.example-container {
  height: 560px;
  overflow: auto;
}

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

 h1{
  color : #FF3399;
  align :
 }

 button{
      background : #FF3399;
      color : #FFFFFF;
      font-size: 18px;
      width: 20%;
      margin-left: 40%;
      margin-right: 40%;
  }
